@use '@/styles/scss/abstracts/index' as *;
.dark {
    background: $textLight;
}

.navbar {
    background: $primaryLight;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: darken($primaryLight, 10%) 1px solid;
    .logo {
        // padding: 1rem 0rem 1rem ;
        justify-self: start;
    }
    .navLinks {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            li {
                flex-direction: row;
                padding: 1rem 20px;
                a {
                  color: $textLight; 
                  text-decoration: none; 
                }
            }
        }
    }
    .themeToggle {
        button {
            font-size: 2rem;
        }

    }
}