@use "@/styles/scss/abstracts/index" as *;

.navbar {
    background: $primaryLight;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: darken($primaryLight, 10%) 1px solid;
    .logo {
        justify-self: start;
        transition: 1.5s all ease-in-out;
        &:hover {
            transform: scale(1.03);
        }
    }
    .navLinks {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
             overflow: hidden;
            li {
                flex-direction: row;
                padding: 1rem 30px;
                &:last-child {
                    padding-right: 20px;
                     
                }
                a {
                    color: $textLight;
                    font-weight: 300;
                    font-size: 1.1rem;
                    text-decoration: none;
                    transition: all 0.5s ease-in-out;
                    position: relative;
                  
                    &:hover {
                        color: $textLight;
                        &:after {
                           width: 100%;
                        }
                    }
                    &:after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 0%;
                        content: ".";
                        color: transparent;
                        background: $brand;
                        height: 1px;
                              overflow: hidden;
                    }
                }
            }
        }
    }
    .themeToggle {
        button {
            font-size: 2rem;
        }
    }
}
