@use "../abstracts/index" as *;

.buffyInfoPage {
    padding: 0px 0px 0px 20px;
    color: $textLight;
    .pageInfo {
        width: 97vw;
        h1 {
            margin: 1rem 0rem;
            padding: 3.5rem 0rem 0rem;
            font-size: 60px;
            color: $textLight;
            span {
                font-size: 4rem;
                color: $brand;
            }
        }
        p {
            padding: 10px 5px;
            width: 40vw;
        }
        #creatorTitle {
            margin-top: 1rem;
        }
        h3 {
            margin: 20px 0px;
        }
        .castGrid {
            display: grid;
            grid-template-columns: repeat(2, 0fr);
            gap: 1rem;
        }
        .trailer {
            video {
                margin: 50px 10px 0px ;
                border-radius: 10px;
                border-color: $brand;
                box-shadow: 0 0 20px $brand;
            }
            .videoReference {
                font-size: 0.8rem;
                color: lighten($textLight, 30%);
                a {
                    color: $brand;
                    text-decoration: none;
                    transition: all 0.5s ease-in-out;
                    &:hover {
                        color: $brandSecondary;
                        text-decoration: underline;
                    }
                }
            }
            h3 {
                margin: 2rem 0rem 1rem 0rem;
            }
    
            .seasonsGrid {
                height: 68vh;
                overflow-y: scroll;
                .seasonCard {
                    background-color: $primaryLight;
                    border-radius: 10px;
                    width: 46.5vw;
                    margin: 0.5rem 0rem;
                    padding: 1rem;
                    transition: all 0.5s ease-in-out;
                    border: darken($primaryLight, 10%) 1px solid;
                    a{
                        background-color: darken($primaryLight, 2%);
                        text-decoration: none;
                        transition: all 0.7s ease-in-out;
                        &:hover {
                            h4 {
                                text-decoration: underline;
                                color: $brand;
                            }
                        }
                        
                        h4 {
                            text-decoration: none;
                            color: $textLight;
                        }
                        p{
                            width: 100%;
                            color: $textLight;
                        }
                    }
                    
        
                }
            }
        }
    }
    .colourSide {
        width: 2vw;
    }
}
