@use '../abstracts/index' as *;

.episodeInfoPage {
    padding: 1rem 20px;
    color: $textLight;
    .headingSection {
        width: 25vw;
        text-transform: capitalize;
        a {
            color: $brand;
            text-decoration: none;
            transition: all 0.5s ease-in-out;
            span {
                padding-top: 10rem;
            }
            &:hover {
                color: $brandSecondary;
                text-decoration: underline;
            }
        }
        h2 {
            span {
                font-size: 60px;
                color: $brand;
            }
            a {
                margin: 0rem 0.5rem;
                font-size: larger;
                svg {
                    padding-top: 0.9rem;
                    color: $brand;
                    transition: all 0.5s ease-in-out;
                    &:hover {
                        color: $brandSecondary;
                    }
                }
            }
        }
        .image {
            position: relative;
            width: 100%;
            height: 30rem;
            overflow: hidden;
            margin-top: 2.5rem;
            img {
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
    .episodeInformation{
        width: 65vw;
        text-transform: capitalize;
        .overview {
            background-color: $primaryLight;
            border-radius: 10px;
            border: darken($primaryLight, 10%) 1px solid;
            padding: 2rem;
            height: 80vh;
            overflow-y: scroll;
            h3 {
                margin: 0.5rem 0rem;
            }
            h4 {
                margin: 1rem 0rem;
            }
            .episodeGrid {
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat(3, 1fr);
            }
        }
  
    }
}