@use "../abstracts/index" as *;

.highlights {
    width: 65vw;

    .div{
     
        height: 0rem;
        width: 10px !important; 
        overflow: hidden;
        .angelHighlight {
            img {
                object-fit: cover;
                display: none;
            }
        }
    }
   
}
.infoSection {
    width: 35vw;
    margin: 4rem 20px;
    h1 {
        font-size: 60px;
        margin: 10px 0px;
        span {
            font-size: 6rem;
            line-height: 0.9rem;
            color: $brand;
        }
    }
}
