@use "../abstracts/index" as *;

.highlights {
    width: 60vw;
    padding-left: 30px;
    margin-top: 6rem;
    object-fit: cover;
    video::-webkit-media-controls {
        display: none !important;
    }
    video {
        border-radius: 10px;
        position: relative; 
        transition: opacity 2s; 
    
        &:hover {
            opacity: 0;             
        }
    }
}
.infoSection {
    width: 35vw;
    margin: 4rem 20px;
    h1 {
        font-size: 60px;
        margin: 10px 0px;
        span {
            font-size: 6rem;
            line-height: 0.9rem;
            color: $brand;
        }
    }
}
