@use "../abstracts/index" as *;

.privacyPolicy {
    padding: 1rem 20px;
    color: $textLight;
    .infoSection {
        width: 30vw;
        h1 {
            overflow: hidden;
            span {
                color: $brand;
            }
        }
        p {
            margin: 0.6rem 0rem;
        }
    }
    .policySection {
        width: 60vw;
        padding: 2rem 20px;
        h3 {
            margin: 0.5rem 0rem;
        }
        p {
            margin: 0.6rem 0rem;
        }
        ul {
    
            list-style: disc !important;
        

        }
    }
}
