@use "../abstracts/index" as *;

.privacyPolicy {
    padding: 1rem 20px;
    color: $textLight;
    .infoSection {
        width: 30vw;
        h1 {
            overflow: hidden;
            span {
                color: $brand;
            }
        }
        p {
            margin: 0.6rem 0rem;
        }
    }
    .policySection {
        width: 60vw;
        padding: 2rem 20px;
        a {
            color: $textLight;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        h3 {
            margin: 0.5rem 0rem;
        }
        p {
            margin: 0.6rem 0rem;
            span {
                font-weight: 600;
                color: $brand;
            }
        }
        ul {
    
            list-style: disc !important;
        }
    }
    .contactLinks {
        a {
            display: block;
            padding: 0.1rem 0rem;
            text-decoration: none;
            color: $brand;
            transition: all 0.5s ease-in-out;
            &:hover {
                color: $brandSecondary;
            }
            svg {
                margin-right: 10px;
            }
        }
    }
}
