@use "../abstracts/index" as *;

.profilePage {
    padding: 1rem 20px;
    color: $textLight;
    text-transform: capitalize;
    .generalInfo {
        width: 30vw;
        a {
            text-decoration: none;
            color: $brand;
            transition: all 0.5s ease-in-out;
            span {
                margin-top: 2rem;
            }
            &:hover {
                color: $brandSecondary;
                text-decoration: underline;
            }
        }
        .image {
            width: 80%;
            height: 60vh;
            position: relative;
            overflow: hidden;
            margin-top: 2.6rem;
            img {
                border-radius: 10px;
                object-fit: cover;
            }
        }
    }
    .bio {
        width: 65vw;
        height: 70vh;
        padding: 2rem;
        background-color: $primaryLight;
        border-radius: 10px;
        border: darken($primaryLight, 10%) 1px solid;
        .characters {
            margin: 0.5rem;
            display: inline;
            &:first-child {
                margin-left: 0.2rem;
            }
        }
        h3 {
            margin: 1.2rem 0rem 1rem;
            a {
                svg {
                    color: $brand;
                    padding-top: 0.6rem !important;
                    transition: 0.5s all ease-in-out;
                    &:hover {
                        color: $brandSecondary;
                    }
                }
            }
        }
    }
}
