* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #ECECEC;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.subText {
  color: #60606c;
  width: 30vw;
  line-height: 24px;
}

.bold {
  font-weight: 500;
}

.highlights {
  width: 65vw;
  background-image: linear-gradient(to right, #ececec, #d3d2e3, #b8b8d9, #9ba0d1, #7a89c8, #677dc1, #5171ba, #3765b3, #2e5fac, #2459a5, #19539f, #084d98);
}
.highlights #angelHighlight {
  position: absolute;
  z-index: 1;
  top: 7rem;
  right: 20px;
  border-radius: 10px;
}
.highlights .img {
  position: absolute;
  z-index: 2;
  top: 5rem;
  right: 2rem;
  rotate: 180deg;
}

.infoSection {
  width: 35vw;
  margin: 4rem 20px;
}
.infoSection h1 {
  font-size: 60px;
  margin: 10px 0px;
}
.infoSection h1 span {
  font-size: 6rem;
  line-height: 0.9rem;
  color: #084D98;
}

.buffyInfoPage {
  padding: 0px 0px 0px 20px;
  color: #18181b;
}
.buffyInfoPage .pageInfo {
  width: 97vw;
}
.buffyInfoPage .pageInfo h1 {
  margin: 1rem 0rem;
  padding: 3.5rem 0rem 0rem;
  font-size: 60px;
  color: #18181b;
}
.buffyInfoPage .pageInfo h1 span {
  font-size: 4rem;
  color: #084D98;
}
.buffyInfoPage .pageInfo p {
  padding: 10px 5px;
  width: 40vw;
}
.buffyInfoPage .pageInfo #creatorTitle {
  margin-top: 1rem;
}
.buffyInfoPage .pageInfo h3 {
  margin: 0px 0px 20px;
}
.buffyInfoPage .pageInfo .trailer video {
  margin: 50px 10px 0px;
  border-radius: 10px;
  border-color: #084D98;
  box-shadow: 0 0 20px #084D98;
}
.buffyInfoPage .pageInfo .trailer .videoReference {
  font-size: 0.8rem;
  color: #60606c;
}
.buffyInfoPage .pageInfo .trailer h3 {
  margin: 1.5rem 0rem;
}
.buffyInfoPage .pageInfo .trailer .seasonsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.buffyInfoPage .pageInfo .trailer .seasonsGrid .seasonCard {
  background-color: #084D98;
  border-radius: 10px;
  width: 14vw;
  margin: 0.5rem 0rem;
  padding: 1rem;
  text-align: center;
  transition: all 0.7s ease-in-out;
}
.buffyInfoPage .pageInfo .trailer .seasonsGrid .seasonCard:hover {
  background-color: #0B2D68;
}
.buffyInfoPage .pageInfo .trailer .seasonsGrid .seasonCard a {
  text-decoration: none;
}
.buffyInfoPage .pageInfo .trailer .seasonsGrid .seasonCard a h4 {
  text-decoration: none;
  color: #fbf9f9;
}
.buffyInfoPage .colourSide {
  width: 2vw;
}

.episodesBySeason {
  padding: 1rem 20px;
}
.episodesBySeason .pageHeading {
  width: 35vw;
}
.episodesBySeason .pageHeading h1 {
  margin-top: 3rem;
}
.episodesBySeason .pageHeading h1 span {
  color: #084D98;
  font-size: 68px;
}
.episodesBySeason .pageHeading a {
  text-decoration: none;
  margin: 1rem 0.5rem;
}
.episodesBySeason .episodeCards {
  width: 60vw;
  height: 85vh;
  overflow-y: scroll;
}
.episodesBySeason .episodeCards .episodeCard {
  margin: 0.5rem 0rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #fbf9f9;
  border: #e7dada 1px solid;
}
.episodesBySeason .episodeCards .episodeCard .cardInfo {
  width: 50vw;
  text-transform: capitalize;
  padding: 1rem;
}
.episodesBySeason .episodeCards .episodeCard .cardInfo p {
  margin-top: 0.1rem;
  font-size: 0.9rem;
  width: 47vw;
}
.episodesBySeason .episodeCards .episodeCard .cardInfo a {
  color: #084D98;
  text-decoration: none;
  margin-top: 0.1rem;
  transition: all 0.5s ease-in-out;
}
.episodesBySeason .episodeCards .episodeCard .cardInfo a:hover {
  color: #0B2D68;
  text-decoration: underline;
}
.episodesBySeason .episodeCards .episodeCard .nextImage {
  position: relative;
  height: 10rem;
  width: 10vw;
  overflow: hidden;
  border-radius: 10px;
}
.episodesBySeason .episodeCards .episodeCard .nextImage .episodeScreenshot {
  object-fit: cover;
}

.episodeInfoPage {
  padding: 1rem 20px;
  color: #18181b;
}
.episodeInfoPage .headingSection {
  width: 25vw;
  text-transform: capitalize;
}
.episodeInfoPage .headingSection h1 {
  margin-top: 2.5rem;
}
.episodeInfoPage .episodeInformation {
  width: 65vw;
  text-transform: capitalize;
}
.episodeInfoPage .episodeInformation .overview {
  background-color: #fbf9f9;
  border-radius: 10px;
  border: #e7dada 1px solid;
  padding: 2rem;
}
.episodeInfoPage .episodeInformation .overview h3 {
  margin: 0.5rem 0rem;
}

.crewPage {
  color: #18181b;
  padding: 1rem 20px;
}
.crewPage .titleSection {
  width: 30vw;
}
.crewPage .titleSection h1 {
  margin-top: 3rem;
}
.crewPage .titleSection h1 span {
  color: #084D98;
}
.crewPage .crewProfiles {
  width: 65vw;
}
.crewPage .crewProfiles .crewCollection {
  margin: 0.5rem 0rem;
  background-color: #fbf9f9;
  border-radius: 10px;
  padding: 1rem;
  border: #e7dada 1px solid;
}
.crewPage .crewProfiles .crewCollection h3 {
  margin: 0.4rem 0rem;
}
.crewPage .crewProfiles .crewCollection p {
  margin: 0.2rem 0rem;
}
.crewPage .crewProfiles .crewCollection .crewGrid {
  margin: auto;
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.profilePage {
  padding: 1rem 20px;
  color: #18181b;
  text-transform: capitalize;
}
.profilePage .generalInfo {
  width: 30vw;
}
.profilePage .generalInfo h1 {
  margin-top: 3rem;
}
.profilePage .generalInfo span {
  color: #084D98;
}
.profilePage .bio {
  width: 60vw;
  height: 70vh;
  padding: 2rem;
  background-color: #fbf9f9;
  border-radius: 10px;
}

.privacyPolicy {
  padding: 1rem 20px;
  color: #18181b;
}
.privacyPolicy .infoSection {
  width: 30vw;
}
.privacyPolicy .infoSection h1 {
  overflow: hidden;
}
.privacyPolicy .infoSection h1 span {
  color: #084D98;
}
.privacyPolicy .infoSection p {
  margin: 0.6rem 0rem;
}
.privacyPolicy .policySection {
  width: 60vw;
  padding: 2rem 20px;
}
.privacyPolicy .policySection h3 {
  margin: 0.5rem 0rem;
}
.privacyPolicy .policySection p {
  margin: 0.6rem 0rem;
}
.privacyPolicy .policySection ul {
  list-style: disc !important;
}
